<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Resume - Start Bootstrap Theme</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
  <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="vendor/devicons/css/devicons.min.css" rel="stylesheet">
  <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/resume.css" rel="stylesheet">

</head>

<body id="page-top" ng-app="drApp" ng-controller="drCtrl">

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
      <span class="d-block d-lg-none">Start Bootstrap</span>
      <span class="d-none d-lg-block">
        <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="http://www.suryaputhradrivingschool.com/images/sp.png"
          alt="">
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#experience">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#education">Driving Instructions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#skills">Documentatiopn & Process</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#interests">Classes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#awards">Contact</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid p-0">

    <section class="resume-section back p-3 p-lg-5 d-flex d-column" id="about">
      <div class="row fixed-hdr">
        <div class="row m-0">

          <h5 class="text-white">Your Driving License is just a phone call away &nbsp;
            <i class="fa fa-mobile-phone"></i> +91 9844546688</h5>
        </div>
        <marquee direction="left" class="mar">
          <i class="fa fa-circle"></i> Always carry the vehicle documents while driving
          <i class="fa fa-circle"></i> Don't use the mobile while driving
          <i class="fa fa-circle"></i> Wear the helmet for your safety
          <i class="fa fa-circle"></i> Over speed thrills but kills
          <i class="fa fa-circle"></i> Record transfer of owner-ship and change of address at RTO's office immediately to avoid hardship and legal
          action </marquee>
      </div>
      <div class="my-auto">
        <h1 class="mb-0">suryaputhra
          <br>
          <span class="text-primary">driving school</span>
        </h1>
        <div class="subheading mb-5 text-left">DRIVE WITH CONFIDENCE</div>
        <div class="subheading mb-5">HNR Complex,2nd Floor Above Sub-Register Office,
          <br> Bangalore Main Road,Sarjapura-562 125
          <br>
          <a href="mailto:name@email.com">suryaputhradrivingschool@gmail.com</a>
        </div>
        <p class="mb-5">Safe driving today requires a higher level of confidence and competence.Road safety is a key concern area for both
          the Government and the people on Indian roads, given the poor traffic planning, increasing number of vehicles,
          lack of professionalism in driving and untrained drivers on road. In a bid to address these issues, Maruti Suzuki
          India Ltd. has launched Maruti Driving School - its initiative for promoting safe driving...</p>
        <ul class="list-inline list-social-icons mb-0">
          <li class="list-inline-item">
            <a href="#">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
        </ul>
      </div>
    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="">
        <h2 class="mb-5">Trained With</h2>
        <div class="row">
          <div class="col-3">
            <div class="shadow1">
              <img src="img/ad/img_1.jpg" style="width: 100%" alt="Certified instructors">
              <h5 class="text-center">Wide Experience</h5>
            </div>
          </div>
          <div class="col-3">
            <div class="shadow1">
              <img src="img/ad/img_2.jpg" style="width: 100%" alt="Certified instructors">
              <h5 class="text-center">Courses For Advanced</h5>
            </div>
          </div>
          <div class="col-3">
            <div class="shadow1">
              <img src="img/ad/img_3.jpg" style="width: 100%" alt="Certified instructors">
              <h5 class="text-center">Certified Instructors</h5>
            </div>
          </div>
          <div class="col-3">
            <div class="shadow1">
              <img src="img/ad/img_4.jpg" style="width: 100%" alt="Certified instructors">
              <h5 class="text-center">Quick Tips and Advice</h5>
            </div>
          </div>
        </div>
      </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="">
      <h2 class="mb-5">Our Advantages</h2>
      <div class="row">
        <div class="col-3">
          <div class="shadow1">
            <img src="img/ad/img_1.jpg" style="width: 100%" alt="Certified instructors">
            <h5 class="text-center">Wide Experience</h5>
          </div>
        </div>
        <div class="col-3">
          <div class="shadow1">
            <img src="img/ad/img_2.jpg" style="width: 100%" alt="Certified instructors">
            <h5 class="text-center">Courses For Advanced</h5>
          </div>
        </div>
        <div class="col-3">
          <div class="shadow1">
            <img src="img/ad/img_3.jpg" style="width: 100%" alt="Certified instructors">
            <h5 class="text-center">Certified Instructors</h5>
          </div>
        </div>
        <div class="col-3">
          <div class="shadow1">
            <img src="img/ad/img_4.jpg" style="width: 100%" alt="Certified instructors">
            <h5 class="text-center">Quick Tips and Advice</h5>
          </div>
        </div>
      </div>
    </section>
    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
      <div class="my-auto">
        <h2 class="mb-5">Services</h2>

        <div class="row mb-5">
          <div class="col-4" ng-repeat="ins in services">
            <div class="shadow1 text-center dr-ins">
              <h3 class="mb-0 ser-imgc">
                <img class="ser-img" src="img/ser/s{{$index+1}}.jpg" />
              </h3>
              <h3 class="mb-0 ser-title">{{ins.title}}</h3>
            </div>
          </div>
        </div>

      </div>

    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
      <div class="my-auto">
        <h2 class="mb-5">Driving Instructions</h2>

        <div class="row mb-5">
          <div class="col-4" ng-repeat="ins in drivingIns">
            <div class="shadow1 text-center dr-ins">
              <h3 class="mb-0">
                <img class="di-img" src="{{ins.img}}" />
              </h3>
              <h3 class="mb-0">{{ins.title}}</h3>
            </div>
          </div>
        </div>

      </div>
    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
      <!-- <div class="my-auto" ng-include="'./docs.html'"> -->
      <div class="my-auto">
        <h2 class="mb-5">Documentatiopn & Process</h2>
        <div class="shadow1 doc" data-toggle="collapse" data-target="#1">
          <div class="subheading mb-3">2 Wheeler And 4 Wheeler License
            <i class="fa fa-chevron-up green-text"></i>
          </div>
          <ul class="fa-ul mb-0 collapse show" id="1">
            <li>
              <i class="fa-li fa fa-circle green-text"></i>
              Step 1: Learning licence</li>
            <li>
              <i class="fa-li fa fa-circle green-text"></i>
              Step 2: Permanent driving licence </li>
            <li>
              <i class="fa-li fa fa-circle green-text"></i>
              Common age proofs- 10th Mark sheet, Passport, TC, LIC Bond, Birth certificate, Old driving license, PAN Card (any one compulsory).
            </li>
            <li>
              <i class="fa-li fa fa-circle green-text"></i>
              Local address proof- Election Card, Aadhar card, Ration Card, LIC Bond, Passport, BSNL Bill, Rental agreement and with current
              bill (any one compulsory). </li>
            <li>
              <i class="fa-li fa fa-circle green-text"></i>
              Permanent Address proof (Other State)- Any Government ID proof or sale deed. </li>
            <li>
              <i class="fa-li fa fa-circle yellow-text"></i>
              Note: 2 passport size photographs would also be needed along with the above documents. And if the applicant's age is 40 years
              and above, a Medical certificate have to be produced. </li>
          </ul>
        </div>


        <div class="shadow1 doc" data-toggle="collapse" data-target="#2">
          <div class="subheading mb-3">Duplicate Driving Licence.
            <i class="fa fa-chevron-up green-text"></i>
          </div>
          <ul class="fa-ul mb-0 collapse" id="2">
            <li>
              <i class="fa-li fa fa-circle green-text"></i>
              Proof for having lost driving licence (Acknowledgement/FIR copy for having lodged complaint with Police). </li>
            <li>
              <i class="fa-li fa fa-circle green-text"></i>
              Affidavit sworn by the applicant before an executive magistrate for having lost the driving licence. </li>
            <li>
              <i class="fa-li fa fa-circle green-text"></i>
              In case of same city, photo copy of lost licence.
            </li>
            <li>
              <i class="fa-li fa fa-circle green-text"></i>
              5-6 recent passport sized photographs.. </li>
          </ul>
        </div>

        <div class="shadow1 doc" data-toggle="collapse" data-target="#3">
          <div class="subheading mb-3">Duplicate Driving Licence.
            <i class="fa fa-chevron-up green-text"></i>
          </div>
          <ul class="fa-ul mb-0 collapse" id="3">
            <li>
              <i class="fa-li fa fa-circle green-text"></i>
              Original existing driving licence 3 recent passport size photographs.. </li>
            <li>
              <i class="fa-li fa fa-circle green-text"></i>
              If applicant's age is 40 years and above, Medical certificate have to be produced. </li>
          </ul>
        </div>

        <div class="shadow1 doc" data-toggle="collapse" data-target="#4">
          <div class="subheading mb-3">Change of Address.
            <i class="fa fa-chevron-up green-text"></i>
          </div>
          <ul class="fa-ul mb-0 collapse" id="4">
            <li>
              <i class="fa-li fa fa-circle green-text"></i>
              Address proof: Your Voter card Aadhaar card or Passport mentioning your permanent address would suffice, or your permanent
              address is same as local address, then only permanent address alone will suffice. </li>
            <li>
              <i class="fa-li fa fa-circle green-text"></i>
              Self-swearing Affidavit by an applicant before an executive Magistrate or a First Class Judicial Magistrate or a Notary Public
              as evidence of age and address in case of submitting local address proof as rental agreement or HR letter.
            </li>
          </ul>
        </div>

        <div class="shadow1 doc" data-toggle="collapse" data-target="#5">
          <div class="subheading mb-3">International Driving Permitt.
            <i class="fa fa-chevron-up green-text"></i>
          </div>
          <ul class="fa-ul mb-0 collapse" id="5">
            <li>
              <i class="fa-li fa fa-circle green-text"></i>
              3-5 recent passport size photograph. </li>
            <li>
              <i class="fa-li fa fa-circle green-text"></i>
              Original Valid Driving Licence + Passport + Visa + Air Ticket. . </li>
            <li>
              <i class="fa-li fa fa-circle green-text"></i>
              The applicant should be citizen of India. </li>
            <li>
              <i class="fa-li fa fa-circle green-text"></i>
              In case of driving licence belonging to other regions/state, the applicant should apply and obtain change of address in the
              driving licence. In case of licence issued by other regions within Karnataka state the time required for change
              of address is three days, and in case of driving licence issued by other states the time required is 21 days.
              Therefore the applicant keeping the time required in mind should plan well in advance while making an application
              for IDP. </li>
            <li>
              <i class="fa-li fa fa-circle yellow-text"></i>
              Note:The address in the Driving licence should fall under the jurisdiction of the Regional Transport office to where the
              application for IDP is being made. Applicant shall appear for re-test if the driving licence issued in within
              3 months. Validity of the IDP will be for one year or till the validity of the driving licence whichever occurs
              first. </li>
            <li>
              <i class="fa-li fa fa-circle yellow-text"></i>
              Note:In case of driving licence belonging to other regions/state, the applicant should apply and obtain change of address
              in the driving licence. In case of licence issued by other regions within Karnataka state the time required
              for change of address is three days, and in case of driving licence issued by other states the time required
              is 21 days. Therefore the applicant keeping the time required in mind should plan well in advance while making
              an application for IDP.</li>
          </ul>
        </div>

        <div class="shadow1 doc" data-toggle="collapse" data-target="#6">
          <div class="subheading mb-3">NOC.
            <i class="fa fa-chevron-up green-text"></i>
          </div>
          <ul class="fa-ul mb-0 collapse" id="6">
            <li>
              <i class="fa-li fa fa-chevron-right green-text"></i>
              If the owner desires to remove or sell his 2 wheeler or 4 wheeler vehicle to other state, required documents are: </li>
            <li>
              <i class="fa-li fa fa-circle green-text"></i>
              FORM 28 (3-Copy)
              <a href="">Download File
                <i class="fa fa-download"></i>
              </a>
            </li>
            <li>
              <i class="fa-li fa fa-circle green-text"></i>
              RC book original. . </li>
            <li>
              <i class="fa-li fa fa-circle green-text"></i>
              Valid Insurance photocopy.</li>
            <li>
              <i class="fa-li fa fa-circle green-text"></i>
              Emission Test certificate copy. </li>
            <li>
              <i class="fa-li fa fa-circle green-text"></i>
              Chassis Pencil Print Impssion on White paper. (3-4 Copy).</li>
            <li>
              <i class="fa-li fa fa-circle green-text"></i>
              Name and address of the person who needs NOC..</li>
          </ul>
        </div>


        <div class="shadow1 doc" data-toggle="collapse" data-target="#7">
          <div class="subheading mb-3">RC Book Renew.
            <i class="fa fa-chevron-up green-text"></i>
          </div>
          <ul class="fa-ul mb-0 collapse" id="7">
            <li>
              <i class="fa-li fa fa-circle green-text"></i>
              FORM 25
              <a href="">Download File
                <i class="fa fa-download"></i>
              </a>
            </li>
            <li>
              <i class="fa-li fa fa-circle green-text"></i>
              Road worthiness certificate in Form 22. </li>
            <li>
              <i class="fa-li fa fa-circle green-text"></i>
              Identity proof with photographs of applicant. </li>
            <li>
              <i class="fa-li fa fa-circle green-text"></i>
              Vehicle insurance certificate. </li>
            <li>
              <i class="fa-li fa fa-circle green-text"></i>
              Emission Test certificate copy. </li>
            <li>
              <i class="fa-li fa fa-circle green-text"></i>
              Proof of address. .</li>
            <li>
              <i class="fa-li fa fa-circle yellow-text"></i>
              Note: In case vehicle is imported, then, bill of entry submitted to Customs and in case, vehicle is not a body built vehicle,
              then Form No.22 Part 2 (A) should also be submitted along with the application. Passport, Electoral Voter I-Card,
              Electricity Bill with rental agreement, or an Affidavit from the applicant to that effect can be submitted
              as a proof of address as well as proof of identification.</li>
          </ul>
        </div>

        <div class="shadow1 doc" data-toggle="collapse" data-target="#8">
          <div class="subheading mb-3">Cancellation Of Hypothecation.
            <i class="fa fa-chevron-up green-text"></i>
          </div>
          <ul class="fa-ul mb-0 collapse" id="8">
            <li>
              <i class="fa-li fa fa-circle green-text"></i>
              Form 35 (Both the copies, duly signed by yourself)
            </li>
            <li>
              <i class="fa-li fa fa-circle green-text"></i>
              RC book original </li>
            <li>
              <i class="fa-li fa fa-circle green-text"></i>
              Driving Licence - Copy only. </li>
            <li>
              <i class="fa-li fa fa-circle green-text"></i>
              Emission Test certificate copy. </li>
            <li>
              <i class="fa-li fa fa-circle green-text"></i>
              Insurance policy - Copy only. </li>
            <li>
              <i class="fa-li fa fa-circle green-text"></i>
              PUC - Copy only.</li>
          </ul>
        </div>

        <div class="shadow1 doc" data-toggle="collapse" data-target="#9">
          <div class="subheading mb-3">Reregistration of Vehicle.
            <i class="fa fa-chevron-up green-text"></i>
          </div>
          <ul class="fa-ul mb-0 collapse" id="9">
            <li>
              <i class="fa-li fa fa-chevron-right green-text"></i>
              The vehicles migrating from other States are required to obtain re-registration mark of Karnataka State within 12 months
              from the date of arrival into Karnataka State. The vehicle owner should produce following documents:
            </li>
            <li>
              <i class="fa-li fa fa-circle green-text"></i>
              No Objection Certificate (NOC).
              <a href="">Download File
                <i class="fa fa-download"></i>
              </a>
            </li>
            <li>
              <i class="fa-li fa fa-circle green-text"></i>
              Application in Form no. CMV27. . </li>
            <li>
              <i class="fa-li fa fa-circle green-text"></i>
              RC Book. . </li>
            <li>
              <i class="fa-li fa fa-circle green-text"></i>
              Insurance certificate. . </li>
            <li>
              <i class="fa-li fa fa-circle green-text"></i>
              Pollution under control certificate. .</li>
            <li>
              <i class="fa-li fa fa-circle green-text"></i>
              Fitness certificate and permit in case of transport vehicles. </li>
            <li>
              <i class="fa-li fa fa-circle green-text"></i>
              Difference of tax. .</li>
            <li>
              <i class="fa-li fa fa-circle green-text"></i>
              3-5 passport size photographs.</li>
            <li>
              <i class="fa-li fa fa-circle yellow-text"></i>
              Note: In case NOC has not been obtained at the time of migration, the registered owner is required to apply in form no 28
              (in quadruplicate) to the pvious registering authority along with documents for issue of NOC, and submit the
              NOC obtained for consideration of Re - Registration application. In case, no reply is received from the pvious
              registering authority even after 30 days, the registered owner shall submit a copy of the form no. 28 applied,
              along with the postal acknowledgement for having submitted before the pvious registering authority, and a declaration
              stating that " the application for NOC has neither been rejected nor any reply received from the pvious registering
              authority" to whom the application has been made.</li>
          </ul>
        </div>

        <div class="shadow1 doc" data-toggle="collapse" data-target="#10">
          <div class="subheading mb-3">Transfer of Ownership.
            <i class="fa fa-chevron-up green-text"></i>
          </div>
          <ul class="fa-ul mb-0 collapse" id="10">
            <li>
              <i class="fa-li fa fa-circle-right text-danger"></i>
              Transfer of ownership within same RTO
            </li>
            <li>
              <i class="fa-li fa fa-circle green-text"></i>
              Form No. CMV 29 in duplicate.
              <a href="">Download File
                <i class="fa fa-download"></i>
              </a>
            </li>
            <li>
              <i class="fa-li fa fa-circle green-text"></i>
              Form No. CMV 30
              <a href="">Download File
                <i class="fa fa-download"></i>
              </a> if vehicle is covered under Hypothecation/HPA/Lease form CMV 30 shall be produced.
            </li>
            <li>
              <i class="fa-li fa fa-circle green-text"></i>
              In duplicate with the consent of financier. </li>
            <li>
              <i class="fa-li fa fa-circle green-text"></i>
              Registration Certificate, valid insurance, emission Certificate, Fitness certificate in case of transport . </li>
            <li>
              <i class="fa-li fa fa-circle green-text"></i>
              Address proof in original. </li>
            <li>
              <i class="fa-li fa fa-circle green-text"></i>
              In case of LMVs and transport vehicles PAN card is required. </li>
            <li>
              <i class="fa-li fa fa-circle green-text"></i>
              Three passport size photographs of the transferee. </li>
            <li>
              <i class="fa-li fa fa-circle yellow-text"></i>
              Note: If transfer of ownership of vehicles migrated from other regions within same state, clearance certificate is required
              from pvious registering authority also. </li>
            <li>
              <i class="fa-li fa fa-circle yellow-text"></i>
              Note: If transfer of ownership of vehicles migrated from other state, NOC is required from pvious registering authority also.</li>
          </ul>
        </div>

        <div class="shadow1 doc" data-toggle="collapse" data-target="#11">
          <div class="subheading mb-3">Duplicate RC Book.
            <i class="fa fa-chevron-up green-text"></i>
          </div>
          <ul class="fa-ul mb-0 collapse" id="11">
            <li>
              <i class="fa-li fa fa-circle text-danger"></i>
              Form No. CMV 26 to be filled up and signed by registered owner.
            </li>
            <li>
              <i class="fa-li fa fa-circle green-text"></i>
              Form no 26 in duplicate if covered by Hypothecation/Hire Purchase/Lease Agreement along with NOC from financier. </li>
            <li>
              <i class="fa-li fa fa-circle green-text"></i>
              Affidavit sworn by the applicant before an executive magistrate or a first class judicial magistrate or a notary public for
              having lost the registration certificate. . </li>
            <li>
              <i class="fa-li fa fa-circle green-text"></i>
              In case of mutilated/soiled/torn registration certificate such certificate to be surrendered.</li>
            <li>
              <i class="fa-li fa fa-circle green-text"></i>
              Insurance Certificate.</li>
            <li>
              <i class="fa-li fa fa-circle green-text"></i>
              Emission Certificate.</li>
            <li>
              <i class="fa-li fa fa-circle yellow-text"></i>
              Fitness Certificate in case of transport vehicle.</li>
            <li>
              <i class="fa-li fa fa-circle yellow-text"></i>
              Three passport size photographs of the owner.</li>
          </ul>
        </div>

      </div>
    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="interests">
      <div class="my-auto">
        <h2 class="mb-5">Classes</h2>
        <div class="shadow1 doc" data-toggle="collapse" data-target="#21">
          <div class="subheading mb-3">1. Introduction about the vehicles Vehicle starting control
            <i class="fa fa-chevron-up green-text"></i>
          </div>
          <div class="row" id="21">
            <div class="col-3">
              <img src="img/class/1.jpg" style="width: 100%;">
            </div>
            <div class="col-3">
              <h5>Car Pedals</h5>
              <ul class="fa-ul mb-0 collapse show">
                <li>
                  <i class="fa-li fa fa-circle green-text"></i>
                  Clutch (left)</li>
                <li>
                  <i class="fa-li fa fa-circle green-text"></i>
                  Break (middle)</li>
                <li>
                  <i class="fa-li fa fa-circle green-text"></i>
                  Accelarator (right) </li>
              </ul>
            </div>
            <div class="col-3">
              <h5>Gears Shifting (Start from Neautral)</h5>
              <ul class="fa-ul mb-0 collapse show">

                <li>
                  <i class="fa-li fa fa-circle green-text"></i>
                  1st(left up)</li>
                <li>
                  <i class="fa-li fa fa-circle green-text"></i>
                  2nd(left down)</li>
                <li>
                  <i class="fa-li fa fa-circle green-text"></i>
                  3rd(up)) </li>
                <li>
                  <i class="fa-li fa fa-circle green-text"></i>
                  4th(down) </li>
                <li>
                  <i class="fa-li fa fa-circle green-text"></i>
                  5th(right up) </li>
                <li>
                  <i class="fa-li fa fa-circle green-text"></i>
                  Reverse(right down) </li>
              </ul>
            </div>

            <div class="col-3">
              <h5>Know the driving basics of the Car</h5>
              <ul class="fa-ul mb-0 collapse show">
                <li>
                  <i class="fa-li fa fa-circle green-text"></i>
                  Always carry Driving licence(Learner licence for learner)</li>
                <li>
                  <i class="fa-li fa fa-circle green-text"></i>
                  At the Begining Carefully listen to instructor</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="shadow1 doc" data-toggle="collapse" data-target="#22">
          <div class="subheading mb-3">2. Introduction about Clutch,Break,Accelerator controls
            <i class="fa fa-chevron-up green-text"></i>
          </div>
          <div class="row" id="22">
            <div class="col-3">
              <img src="img/class/2.jpg" style="width: 100%;">
            </div>
            <div class="col-3">
              <h5>Car Pedals</h5>
              <ul class="fa-ul mb-0 collapse show">
                <li>
                  <i class="fa-li fa fa-circle green-text"></i>
                  Clutch (left)</li>
                <li>
                  <i class="fa-li fa fa-circle green-text"></i>
                  Break (middle)</li>
                <li>
                  <i class="fa-li fa fa-circle green-text"></i>
                  Accelarator (right) </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="shadow1 doc" data-toggle="collapse" data-target="#23">
          <div class="subheading mb-3">3. Explaining about the gear controlls.
            <i class="fa fa-chevron-up green-text"></i>
          </div>
          <div class="row" id="23">
            <div class="col-3">
              <img src="img/class/3.jpg" style="width: 100%;">
            </div>
            <div class="col-3">
              <h5>Gears Shifting (Start from Neautral)</h5>
              <ul class="fa-ul mb-0 collapse show">
                <li>
                  <i class="fa-li fa fa-circle green-text"></i>
                  1st(left up)</li>
                <li>
                  <i class="fa-li fa fa-circle green-text"></i>
                  2nd(left down)</li>
                <li>
                  <i class="fa-li fa fa-circle green-text"></i>
                  3rd(up)) </li>
                <li>
                  <i class="fa-li fa fa-circle green-text"></i>
                  4th(down) </li>
                <li>
                  <i class="fa-li fa fa-circle green-text"></i>
                  5th(right up) </li>
                <li>
                  <i class="fa-li fa fa-circle green-text"></i>
                  Reverse(right down) </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="shadow1 doc" data-toggle="collapse" data-target="#24">
          <div class="subheading mb-3">4. Steep Hill Drive Training.
            <i class="fa fa-chevron-up green-text"></i>
          </div>
          <div class="row" id="24">
            <div class="col-3">
              <img src="img/class/4.jpg" style="width: 100%;">
            </div>
            <div class="col-3">
              <h5>Drive on low gears in steep hills</h5>
            </div>
          </div>
        </div>
        <div class="shadow1 doc" data-toggle="collapse" data-target="#25">
          <div class="subheading mb-3">5. Vehicle Parking Training.
            <i class="fa fa-chevron-up green-text"></i>
          </div>
          <div class="row" id="25">
            <div class="col-3">
              <img src="img/class/5.jpg" style="width: 100%;">
            </div>
            <div class="col-3">
              <ul class="fa-ul mb-0 collapse show">
                <li>
                  <i class="fa-li fa fa-circle green-text"></i>
                  Paralell Parking Training</li>
                <li>
                  <i class="fa-li fa fa-circle green-text"></i>
                  Be aware of other parked vehicles</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="shadow1 doc" data-toggle="collapse" data-target="#26">
          <div class="subheading mb-3">6. Car Reverse Training.
            <i class="fa fa-chevron-up green-text"></i>
          </div>
          <div class="row" id="26">
            <div class="col-3">
              <img src="img/class/6.jpg" style="width: 100%;">
            </div>
            <div class="col-3">
              <ul class="fa-ul mb-0 collapse show">
                <li>
                  <i class="fa-li fa fa-circle green-text"></i>
                  Paralell Parking Training</li>
                <li>
                  <i class="fa-li fa fa-circle green-text"></i>
                  Be aware of other parked vehicles</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="shadow1 doc" data-toggle="collapse" data-target="#27">
          <div class="subheading mb-3">7. Training about Road and Traffic Symbols.
            <i class="fa fa-chevron-up green-text"></i>
          </div>
          <div class="row" id="27">
            <div class="col-3">
              <img src="img/class/7.jpg" style="width: 100%;">
            </div>
            <div class="col-5">
              <ul class="fa-ul mb-0 collapse show">
                <li>
                  <i class="fa-li fa fa-circle green-text"></i>
                  Put L board to your car so others can now you are a learner</li>
                <li>
                  <i class="fa-li fa fa-circle green-text"></i>
                  Always drive on left side of the road</li>
                <li>
                  <i class="fa-li fa fa-circle green-text"></i>
                  Refer <a href="#education">Driving Instructions </a> Section for more...</li>
              </ul>
            </div>
            <div class="col-3">
              <ul class="fa-ul mb-0 collapse show">
                <li>
                  <i class="fa-li fa fa-circle text-danger"></i>
                  Red (Stop)</li>
                <li>
                  <i class="fa-li fa fa-circle yellow-text"></i>
                  Yellow (ready)</li>
                <li>
                  <i class="fa-li fa fa-circle green-text"></i>
                  Green (go).</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="awards">
      <div class="my-auto">
        <h2 class="mb-5">How to Reach Us?</h2>
        <h3 class="mb-3">Find US</h3>
        <div class="row">
          <div class="col-6">
            <div id="map" style="width:100%;height:400px">
            </div>
          </div>
          <div class="col-6">
            <h5 class="">
              <i class="fa fa-map-marker"></i> Sarjapura</h5>
            <p class="address">Suryaputra Driving School,
              <br>HNR Complex, 2nd Floor Above Sub-Register Office, Bangalore Main Road Sarjapura-562 125 </p>
            <p class="address">
              <i class="fa fa-phone"></i> Phone
              <br>ChandraShekar, +91 9844546688, +91 9741451223</p>
            <p class="address">
              <i class="fa fa-envelope"></i> Email:
              <br> suryaputhradrivingschool@gmail.com</p>

            <h5 class="">
              <i class="fa fa-map-marker"></i> Attibele</h5>
            <p class="address">Raviteja Driving School,
              <br> Near K E B Sarjapura Road, Attibele, Bangalore Attibele-562 125</p>
            <p class="address">
              <i class="fa fa-phone"></i> Phone
              <br>Bhaskar ,+91 9731724207</p>

          </div>
        </div>
        <h3 class="mt-3">Leave a message</h3>
      </div>
    </section>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.0/angular.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/resume.min.js"></script>
  <script>
    var driving = angular.module("drApp", []);
    driving.controller("drCtrl", function ($scope) {
      let _ = $scope;
      _.drivingIns = [
        { img: "img/di/formatted/tl.jpg", title: "Traffic Logic", link: "" },
        { img: "img/di/formatted/dr.jpg", title: "Driving Rules and Regulations", link: "" },
        { img: "img/di/formatted/ms.jpg", title: "Mandatory Signs", link: "" },
        { img: "img/di/formatted/cs.jpg", title: "Cautionary Signs", link: "" },
        { img: "img/di/formatted/is.jpg", title: "Informatory Signs", link: "" },
        { img: "img/di/formatted/tv.jpg", title: "Traffic Violation Fines", link: "" },
        { img: "img/di/formatted/tp.jpg", title: "Traffic Provisions", link: "" },
        { img: "img/di/formatted/ad.jpg", title: "Advice to Drivers", link: "" },
        { img: "img/di/formatted/qp.jpg", title: "STALL QUESTION PAPER", link: "" },
      ];
      _.services = [
        { img: "img/ser/tl.jpg", title: "Driving Classes", link: "" },
        { img: "img/di/formatted/dr.jpg", title: "Driving License", link: "" },
        { img: "img/di/formatted/ms.jpg", title: "Vehicle Fittness Application", link: "" },
        { img: "img/di/formatted/cs.jpg", title: "Vehicle Registration", link: "" },
        { img: "img/di/formatted/is.jpg", title: "International Driving License", link: "" },
        { img: "img/di/formatted/tv.jpg", title: "Renew License", link: "" },
        { img: "img/di/formatted/tp.jpg", title: "Cancellation of Hypothecation", link: "" },
        { img: "img/di/formatted/ad.jpg", title: "No Objection Certificate(NOC)", link: "" },
        { img: "img/di/formatted/qp.jpg", title: "Pan card", link: "" },
        { img: "img/di/formatted/qp.jpg", title: "insurance", link: "" },
        { img: "img/di/formatted/qp.jpg", title: "Ownership Transfer", link: "" },
        { img: "img/di/formatted/qp.jpg", title: "Vehicle Tax pay", link: "" },
        { img: "img/di/formatted/qp.jpg", title: "Clearance Certificate", link: "" },
      ];
    });
  </script>
  <script>
    function myMap() {
      var mapOptions = {
        center: new google.maps.LatLng(12.861009, 77.782000),
        zoom: 16,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      }
      var map = new google.maps.Map(document.getElementById("map"), mapOptions);
      var marker = new google.maps.Marker({ position: { lat: 12.861009, lng: 77.782000 }, map: map });
      google.maps.event.addListener(marker, 'click', function () {
        infowindow.setContent('test: ' + i + '');
        infowindow.open(map, this);
      });
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?callback=myMap"></script>


</body>

</html>